POSTGRES_DB=user
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGHOST=/var/run/postgresql
PGDATA=/var/lib/postgresql/data
ARCHIVE_MODE=on
ARCHIVE_TIMEOUT=3600
AWS_ACCESS_KEY_ID=SOME_AWS_ACCESS_KEY_ID
AWS_REGION=eu-west-1
AWS_SECRET_ACCESS_KEY=SOME_AWS_SECRET_ACCESS_KEY
WALG_COMPRESSION_METHOD=brotli
WALG_DELTA_MAX_STEPS=6
WALG_S3_PREFIX="s3://backet/path/to/archive/"
RECOVERY_TARGET_ACTION=\'promote\'
RECOVERY_TARGET_TIME=\'\'
RECOVERY_TARGET_TIMELINE=\'current\'
RECOVERY_WALG=false
