---
version: "3.6"
services:
  database:
    build:
      context: .
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    container_name: postgres
    image: ${DOCKER_REGISTRY_URL}/library/${PROJECT_NAME}:${POSTGRES_VERSION}
    # restart: always
    # volumes:
    #   - /var/lib/postgresql/data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    #   ARCHIVE_MODE: ${ARCHIVE_MODE}
    #   ARCHIVE_TIMEOUT: ${ARCHIVE_TIMEOUT}
    #   AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
    #   AWS_REGION: ${AWS_REGION}
    #   AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    #   WALG_S3_PREFIX: ${WALG_S3_PREFIX}
      PGUSER: ${POSTGRES_USER}
    #   PGPASSWORD: ${POSTGRES_PASSWORD}
      PGDATABASE: ${POSTGRES_DB}
    #   PGHOST: ${PGHOST}
    #   PGDATA: ${PGDATA}
    #   WALG_COMPRESSION_METHOD: ${WALG_COMPRESSION_METHOD}
    #   WALG_DELTA_MAX_STEPS: ${WALG_DELTA_MAX_STEPS}
    #   RECOVERY_TARGET_ACTION: ${RECOVERY_TARGET_ACTION}
    #   RECOVERY_TARGET_TIME: ${RECOVERY_TARGET_TIME}
    #   RECOVERY_TARGET_TIMELINE: ${RECOVERY_TARGET_TIMELINE}
    #   RECOVERY_WALG: ${RECOVERY_WALG}
    #   WALG_RESTORE_NAME: ${WALG_RESTORE_NAME}
    # ports:
    # - "127.0.0.1:5432:5432"
