version: "3.6"
services:
  database:
    build: .
    container_name: postgres
    image: harbor.oom.ag/library/postgres_with_wal-g:12.8
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      ARCHIVE_MODE: ${ARCHIVE_MODE}
      ARCHIVE_TIMEOUT: ${ARCHIVE_TIMEOUT}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_REGION: ${AWS_REGION}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      PGUSER: ${POSTGRES_USER}
      PGPASSWORD: ${POSTGRES_PASSWORD}
      PGDATABASE: ${POSTGRES_DB}
      PGHOST: ${PGHOST}
      PGDATA: ${PGDATA}
      WALG_COMPRESSION_METHOD: ${WALG_COMPRESSION_METHOD}
      WALG_DELTA_MAX_STEPS: ${WALG_DELTA_MAX_STEPS}
      WALG_S3_PREFIX: ${WALG_S3_PREFIX}
      RECOVERY_WALG: ${RECOVERY_WALG}
    ports:
    - "127.0.0.1:5432:5432"
